@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
	@apply flex flex-col items-center justify-center h-screen bg-stone-50 font-body;
}

.menuSvg {
	@apply w-[16px] h-[16px];
}

.active {
	@apply bg-violetPrimary rounded-2xl text-white pointer-events-none;
}

.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.scrollbar::-webkit-scrollbar {
	width: 10px;
}

.scrollbar::-webkit-scrollbar-track {
	border-radius: 50px;
	background: #e8edf3;
}

.scrollbar::-webkit-scrollbar-thumb {
	background: #b3bbf7;
	border-radius: 50px;
	border: 1px solid #f6f7ed;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
	background: #7a89fe;
}
